
@model List<Persona>
@{
    ViewBag.Title = "XMLReadWrite2";
}

<div style="text-align: center;">
    <br />
    <h1> XML Read-Write2 </h1>
    <button type="button" onclick="location.href='@Url.Action("Index", "Default")'" class="btn btn-warning">
        Home
    </button>
    <br />
    <br />
</div>

<div style="text-align: center;" class="container table-responsive">
    <table class="table" align="center" style="width:30%">
        <tr>
            <td class="active" colspan="2">Aggiungi Contatto</td>
        </tr>
        <tr>
            <td>
                @using (Html.BeginForm("AddPredefinito", "Default", FormMethod.Post))
                {<button type="submit" name="btnPredefinito" class="btn btn-success">Predefinito</button>}
            </td>
            <td>
                @using (Html.BeginForm("XML_AddContact", "Default", FormMethod.Post))
                {<button type="submit" name="btnPredefinito" class="btn btn-danger">Personalizzato</button>}
            </td>
        </tr>
    </table>
</div>

<div class="table-responsive">
    <table class="table table-hover">

        <tr class="info">
            <th>Nome</th>
            <th>Cognome</th>
            <th>Indirizzo</th>
            <th>Cellulare</th>
        </tr>

        @foreach (Persona m in Model)
        {
            <tr>
                <td>@m.Nome_C</td>
                <td>@m.Cognome_C</td>
                <td>@m.Number_C</td>
                <td>@m.Indirizzo_C</td>

                <td style="background-color:black;" width="13">
                    @Html.ActionLink("Detail", "XML_ViewContact", new { ctn = m.IdPersona })
                </td>

                <td style="background-color:crimson;" width="13">
                        @Html.ActionLink("Edit", "XML_EditContact", new { ctn = m.IdPersona })
                </td>

                <td style="background-color:red;color:white;" width="13">

                    @Html.ActionLink("DEL", "DelSelected", new { IdToDel = m.IdPersona })

                </td>
            </tr>
        }
    </table>
</div>